### 시리즈, 데이터 프레임
### 시리스: 1차원 배열과 같은 자료구조, 다양한 자료를 저장, index를 가지고있음, 배열, 딕셔너리로 부터 생성

In [1]:
import pandas as pd

In [2]:
#from pandas import Series, DataFrame

In [3]:
import numpy as np
import matplotlib.pyplot as plt

In [4]:
obj=Series([3,1,-5,2])  #[3,1,-5,2] 배열로부터 1차원구조 시리즈 생성
obj

0    3
1    1
2   -5
3    2
dtype: int64

#### 만약 from pandas import Series, DataFrame 이 구문이 없으면

In [6]:
obj=pd.Series([3,1,-5,2])  #[3,1,-5,2] 배열로부터 1차원구조 시리즈 생성
obj

0    3
1    1
2   -5
3    2
dtype: int64

In [8]:
obj.values #시리즈 배열에 저장되어 있는 데이터만 출력

array([ 3,  1, -5,  2])

In [10]:
obj.index  #시리즈 배열에 저장되어 있는 인덱스만 출력

RangeIndex(start=0, stop=4, step=1)

In [12]:
#인덱스는 저장된 데이터의 이름
#인덱스는 행/열 인덱스가 있음
#인덱스를 이용하여 자료를 참조-->함수: loc,iloc
#인덱스는 0번부터 부여

#### 인덱스 번호 바꾸고싶을 때

In [16]:
obj=pd.Series([3,1,-5,2], index=['d','a','b','c'])
obj

d    3
a    1
b   -5
c    2
dtype: int64

In [18]:
#-5 출력
obj['b']

-5

In [19]:
#2를 9로 바꿈
obj['c']=9
obj

d    3
a    1
b   -5
c    9
dtype: int64

In [20]:
obj['c','a']  #에러:

KeyError: 'key of type tuple not found and not a MultiIndex'

In [21]:
#2개 이상의 행/열 인덱스 지정시 [[]]사용
obj[['c','a','b']]

c    9
a    1
b   -5
dtype: int64

In [23]:
obj

d    3
a    1
b   -5
c    9
dtype: int64

### 불린참조

In [25]:

obj[obj>0]

d    3
a    1
c    9
dtype: int64

In [26]:
obj*2

d     6
a     2
b   -10
c    18
dtype: int64

In [27]:
np.exp(obj)

d      20.085537
a       2.718282
b       0.006738
c    8103.083928
dtype: float64

#### 인덱스가 있는지 유무 알아볼 때

In [29]:

'k' in obj
'a' in obj

True

### 딕셔너리로 부터 시리즈 생성

#### key->index, value->value

In [32]:
sdata={'seoul':1000,'Incheon':200, 'Gwangju':100, 'Busan':300}

In [34]:
obj2=pd.Series(sdata)

In [35]:
obj2['Gwangju']

100

### 중요

In [39]:
cities=['seoul','Incheon','Suwon','Daejeon']

In [42]:
# cities를 기준으로 인덱스가 만들어짐 
obj4=pd.Series(sdata, index=cities)

In [43]:
pd.isnull(obj4)  #null인 것 -> TRUE

seoul      False
Incheon    False
Suwon       True
Daejeon     True
dtype: bool

In [44]:
pd.notnull(obj4)

seoul       True
Incheon     True
Suwon      False
Daejeon    False
dtype: bool

In [45]:
obj4.isnull()

seoul      False
Incheon    False
Suwon       True
Daejeon     True
dtype: bool

In [46]:
obj2

seoul      1000
Incheon     200
Gwangju     100
Busan       300
dtype: int64

In [49]:
for k, v in obj2.items():
    print(k,v)

seoul 1000
Incheon 200
Gwangju 100
Busan 300

#### 데이터 추가

In [52]:
obj2['Jeju']=50

In [53]:
obj2

seoul      1000
Incheon     200
Gwangju     100
Busan       300
Jeju         50
dtype: int64

#### 데이터 제거

In [55]:
del obj2['Incheon']

In [56]:
obj2

seoul      1000
Gwangju     100
Busan       300
Jeju         50
dtype: int64

In [67]:
#1) 열이 되는 1차원 데이터 배열 또는 리스트 작성
#2) 열에 대한 이름을 키로 갖는 딕셔너리를 작성
#딕셔너리로 정의한 키 인덱스는 데이터 프레임으로 만들면 열이름으로 오게 됨
#인덱스는 따로 정의하지 않는 이상 0,1,2,3...순서로 정의됨
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],    #하나의 열
    "2010": [9631482, 3393191, 2632035, 2431774],    #하나의 열
    "2005": [9762546, 3512547, 2517680, 2456016],    #하나의 열
    "2000": [9853972, 3655437, 2466338, 2473990],    #하나의 열
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
cols = ["지역", "2015", "2010", "2005", "2000", "증가율"]
idx = ["서울", "부산", "인천", "대구"]

In [68]:
#pd.Series(data)
pd.DataFrame(data)

      2015     2010     2005     2000   지역  2010-2015 증가율
0  9904312  9631482  9762546  9853972  수도권         0.0283
1  3448737  3393191  3512547  3655437  경상권         0.0163
2  2890451  2632035  2517680  2466338  수도권         0.0982
3  2466052  2431774  2456016  2473990  경상권         0.0141

In [69]:
pd.DataFrame(data, index=idx, columns=cols)  #col에 '증가율'있는데 data에 존재하지 않으므로 NaN

     지역     2015     2010     2005     2000  증가율
서울  수도권  9904312  9631482  9762546  9853972  NaN
부산  경상권  3448737  3393191  3512547  3655437  NaN
인천  수도권  2890451  2632035  2517680  2466338  NaN
대구  경상권  2466052  2431774  2456016  2473990  NaN

In [70]:
pd.DataFrame(data, index=idx)

       2015     2010     2005     2000   지역  2010-2015 증가율
서울  9904312  9631482  9762546  9853972  수도권         0.0283
부산  3448737  3393191  3512547  3655437  경상권         0.0163
인천  2890451  2632035  2517680  2466338  수도권         0.0982
대구  2466052  2431774  2456016  2473990  경상권         0.0141

In [71]:
df=pd.DataFrame(data, index=idx)
df

       2015     2010     2005     2000   지역  2010-2015 증가율
서울  9904312  9631482  9762546  9853972  수도권         0.0283
부산  3448737  3393191  3512547  3655437  경상권         0.0163
인천  2890451  2632035  2517680  2466338  수도권         0.0982
대구  2466052  2431774  2456016  2473990  경상권         0.0141

In [72]:
df.values

array([[9904312, 9631482, 9762546, 9853972, '수도권', 0.0283],
       [3448737, 3393191, 3512547, 3655437, '경상권', 0.0163],
       [2890451, 2632035, 2517680, 2466338, '수도권', 0.0982],
       [2466052, 2431774, 2456016, 2473990, '경상권', 0.0141]], dtype=object)

In [73]:
df.columns

Index(['2015', '2010', '2005', '2000', '지역', '2010-2015 증가율'], dtype='object')

In [74]:
df.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [75]:
#행 인덱스에 대표 이름 주기
df.index.name='도시'

In [76]:
df

       2015     2010     2005     2000   지역  2010-2015 증가율
도시
서울  9904312  9631482  9762546  9853972  수도권         0.0283
부산  3448737  3393191  3512547  3655437  경상권         0.0163
인천  2890451  2632035  2517680  2466338  수도권         0.0982
대구  2466052  2431774  2456016  2473990  경상권         0.0141

In [77]:
df.columns.name='특징'

In [78]:
df

특징     2015     2010     2005     2000   지역  2010-2015 증가율
도시
서울  9904312  9631482  9762546  9853972  수도권         0.0283
부산  3448737  3393191  3512547  3655437  경상권         0.0163
인천  2890451  2632035  2517680  2466338  수도권         0.0982
대구  2466052  2431774  2456016  2473990  경상권         0.0141

#### 데이터프레임의 행과 열 바꾸기(전치행렬)

In [80]:
df.T

도시                  서울       부산       인천       대구
특징
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
지역                 수도권      경상권      수도권      경상권
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

In [81]:
df['2010-2015 증가율']  #특정 열을 추출하면 행 인덱스가 같이 추출됨

도시
서울    0.0283
부산    0.0163
인천    0.0982
대구    0.0141
Name: 2010-2015 증가율, dtype: float64

In [83]:
df['2010-2015 증가율']=df['2010-2015 증가율']*100

In [84]:
df

특징     2015     2010     2005     2000   지역  2010-2015 증가율
도시
서울  9904312  9631482  9762546  9853972  수도권           2.83
부산  3448737  3393191  3512547  3655437  경상권           1.63
인천  2890451  2632035  2517680  2466338  수도권           9.82
대구  2466052  2431774  2456016  2473990  경상권           1.41

In [89]:
#2005-2010년사이의 증가율
#'2005-2010 증가율' 컬럼 추가= 2010-2005/2005
#feature engineering=특성공학
df['2005-2010 증가율']= ((df['2010']-df['2005'])/df['2005']*100).round(2)
df

특징     2015     2010     2005     2000   지역  2010-2015 증가율  2005-2010 증가율
도시
서울  9904312  9631482  9762546  9853972  수도권           2.83          -1.34
부산  3448737  3393191  3512547  3655437  경상권           1.63          -3.40
인천  2890451  2632035  2517680  2466338  수도권           9.82           4.54
대구  2466052  2431774  2456016  2473990  경상권           1.41          -0.99

In [90]:
del df['2010-2015 증가율']

In [91]:
df

특징     2015     2010     2005     2000   지역  2005-2010 증가율
도시
서울  9904312  9631482  9762546  9853972  수도권          -1.34
부산  3448737  3393191  3512547  3655437  경상권          -3.40
인천  2890451  2632035  2517680  2466338  수도권           4.54
대구  2466052  2431774  2456016  2473990  경상권          -0.99

In [95]:
#데이터 프레임에서 하나의 열을 지정하면 시리즈가 됨
print(type(df['지역']))
print(type(df))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [97]:
#두개 이상 추출하면 타입->데이터 프레임
df[['2010','2015']]

특징     2010     2015
도시
서울  9631482  9904312
부산  3393191  3448737
인천  2632035  2890451
대구  2431774  2466052

In [99]:
df[['지역']] #하나 추출할 때 대괄호 두개 쓰면 데이터 프레임

특징   지역
도시
서울  수도권
부산  경상권
인천  수도권
대구  경상권

In [101]:
df['지역']

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

### 배열로 데이터 프레임 만들기

In [105]:
df2=pd.DataFrame(np.arange(12).reshape(3,4))
df2

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

#### 열 인덱스 추출하기

In [109]:
#열인덱스 추출: 열 인덱스 2번에 해당되는 자료가 시리즈 형태로 출력됨(행 인덱스는 0,1,2)
df2[2]

0     2
1     6
2    10
Name: 2, dtype: int64

In [111]:
df2[[1,2]]

   1   2
0  1   2
1  5   6
2  9  10

#### 행 인덱스 추출하기 =>슬라이싱 이용
#### [시작인덱스: 끝인덱스+1]

In [118]:
df[:1]

특징     2015     2010     2005     2000   지역  2005-2010 증가율
도시
서울  9904312  9631482  9762546  9853972  수도권          -1.34

In [119]:
df[1:2]

특징     2015     2010     2005     2000   지역  2005-2010 증가율
도시
부산  3448737  3393191  3512547  3655437  경상권           -3.4

In [121]:
# 부산행과 인천행 추출
df[1:3]

특징     2015     2010     2005     2000   지역  2005-2010 증가율
도시
부산  3448737  3393191  3512547  3655437  경상권          -3.40
인천  2890451  2632035  2517680  2466338  수도권           4.54

In [123]:
df['서울':]

특징     2015     2010     2005     2000   지역  2005-2010 증가율
도시
서울  9904312  9631482  9762546  9853972  수도권          -1.34
부산  3448737  3393191  3512547  3655437  경상권          -3.40
인천  2890451  2632035  2517680  2466338  수도권           4.54
대구  2466052  2431774  2456016  2473990  경상권          -0.99

In [124]:
df['부산':'대구']

특징     2015     2010     2005     2000   지역  2005-2010 증가율
도시
부산  3448737  3393191  3512547  3655437  경상권          -3.40
인천  2890451  2632035  2517680  2466338  수도권           4.54
대구  2466052  2431774  2456016  2473990  경상권          -0.99

#### df에서 2000년도 인천 인구 추출하고자 할 때

In [128]:
df['2000']['인천']  #열단위로 인덱스 하면 시리즈가 나오고 그 시리즈에서 행을 인덱싱 하면 값을 추출할 수 있음

2466338

## pandas에서 csv파일 읽기

In [129]:
%%writefile sample1.csv
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample1.csv

In [131]:
pd.read_csv('sample1.csv')

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [132]:
%%writefile sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample2.csv

In [134]:
#열이 없을 때 
pd.read_csv('sample2.csv',names=['c','c2','c3'])

   c    c2      c3
0  1  1.11     one
1  2  2.22     two
2  3  3.33   three

In [135]:
pd.read_csv('sample1.csv')

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

### 데이터프레임의 특정 열을 행 인덱스로 사용하고자 한다면

In [137]:
pd.read_csv('sample1.csv', index_col='c1')

      c2      c3
c1
1   1.11     one
2   2.22     two
3   3.33   three

### 데이터를 구분하는 구분자가 컴마가 아닐 때

In [138]:
%%writefile sample3.txt
c1        c2        c3        c4
0.179181 -1.538472  1.347553  0.43381
1.024209  0.087307 -1.281997  0.49265
0.417899 -2.002308  0.255245 -1.10515

Writing sample3.txt

In [139]:
#여러개의 공백문자로 구분
pd.read_table('sample3.txt',sep='\s+')

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

### skiprows옵션

In [142]:
%%writefile sample4.txt
파일 제목: sample4.txt
데이터 포맷의 설명:
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Overwriting sample4.txt

In [144]:
#첫번째줄, 두번째줄 건너뛰고 출력하는 법
pd.read_csv('sample4.txt')  #에러뜸

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 3

In [143]:
#첫번째줄, 두번째줄 건너뛰고 출력하는 법
pd.read_csv('sample4.txt',skiprows=[0,1])

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [146]:
pd.read_csv('sample4.txt',skiprows=2)  #2줄까지 무시됨

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

### na_values옵션: 누락 값을 NaN으로 처리하는 방법

In [162]:
%%writefile sample5.csv
c1, c2, c3
1, 1.11, 
2,없음, two
누락, 3.33, three

Overwriting sample5.csv

In [163]:
df=pd.read_csv('sample5.csv',na_values=['누락'])
df

    c1     c2      c3
0  1.0   1.11
1  2.0     없음     two
2  NaN   3.33   three

In [164]:
df=pd.read_csv('sample5.csv',na_values=['누락','없음',' '])
df

    c1    c2      c3
0  1.0  1.11     NaN
1  2.0   NaN     two
2  NaN  3.33   three

In [165]:
%%writefile sample5.csv
c1, c2, c3
1, 1.11, one
2,없음 , two
누락, 3.33, three

Overwriting sample5.csv

### to_csv:데이터프레임을 csv로 저장할 때

In [166]:
df.to_csv('sample6.csv')

In [168]:
!cat sample6.csv

,c1, c2, c3
0,1.0,1.11,
1,2.0,, two
2,,3.33, three

In [169]:
#저장할 때 sep옵션을 주면 지정한 구분자로 저장이 됨
df.to_csv('sample7.csv', sep='|')

In [170]:
!cat sample7.csv

|c1| c2| c3
0|1.0|1.11|
1|2.0|| two
2||3.33| three

### na_rep옵션

In [173]:
df.to_csv('sample8.csv',na_rep='누락')

In [174]:
!cat sample8.csv

,c1, c2, c3
0,1.0,1.11,누락
1,2.0,누락, two
2,누락,3.33, three

In [175]:
df

    c1    c2      c3
0  1.0  1.11     NaN
1  2.0   NaN     two
2  NaN  3.33   three

### 데이터 프레임을 출력할 때 별도의 옵션을 주지 않으면 행,열 인덱스 다 나옴

In [179]:
df.index=['a','b','c']

In [180]:
df

    c1    c2      c3
a  1.0  1.11     NaN
b  2.0   NaN     two
c  NaN  3.33   three

In [181]:
df.to_csv('sample9.csv')

### 행, 열 인덱스 추출 안하고 싶을 때

In [182]:
#행인덱스 제거
df.to_csv('sample9.csv', index=False)

In [183]:
df.to_csv('sample9.csv', index=False, header=False)

In [191]:
import pandas as pd

In [199]:
df=pd.read_csv("https://gist.github.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/fa71405126017e6a37bea592440b4bee94bf7b9e/titanic.csv")
df

df=pd.read_csv("https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
df

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1124)>

In [200]:
import pandas as pd

url="https://gist.github.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/fa71405126017e6a37bea592440b4bee94bf7b9e/titanic.csv"
c=pd.read_csv(url)
c

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1124)>

In [203]:
pip install requests

Collecting requests
  Downloading requests-2.25.1-py2.py3-none-any.whl (61 kB)
     |████████████████████████████████| 61 kB 789 kB/s eta 0:00:01
Collecting idna<3,>=2.5
  Downloading idna-2.10-py2.py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 1.4 MB/s eta 0:00:01
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests) (1.26.2)
Collecting certifi>=2017.4.17
  Downloading certifi-2020.12.5-py2.py3-none-any.whl (147 kB)
     |████████████████████████████████| 147 kB 1.3 MB/s eta 0:00:01
Collecting chardet<5,>=3.0.2
  Downloading chardet-4.0.0-py2.py3-none-any.whl (178 kB)
     |████████████████████████████████| 178 kB 1.2 MB/s eta 0:00:01
Installing collected packages: idna, chardet, certifi, requests
Successfully installed certifi-2020.12.5 chardet-4.0.0 idna-2.10 requests-2.25.1
WARNING: You are using pip version 21.0; however, version 21.0.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.8/bin/python3.8 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [204]:
df=pd.read_csv("https://gist.github.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/fa71405126017e6a37bea592440b4bee94bf7b9e/titanic.csv")
df

df=pd.read_csv("https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
df

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1124)>

In [208]:
df=pd.read_csv('gapminder.tsv',sep='\t')
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]