In [4]:
import urllib.request 

from bs4 import BeautifulSoup

In [15]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import pandas as pd


%matplotlib inline

In [47]:
import openpyxl 
pop_dong_gu = pd.read_excel('전주시_구·동별_세대_및_인구_현황_20210406170935.xlsx', header=2)

In [48]:
pop_dong_gu

,구동별(1),구동별(2),총인구 (명),남자인구 (명),여자인구 (명),세대수 (세대),총인구 (명).1,남자인구 (명).1,여자인구 (명).1,총인구 (명).2,남자인구 (명).2,여자인구 (명).2
0,전주시,소계,663098,326328,336770,273753,654394,322236,332158,8704,4092,4612
1,완산구,소계,342789,167034,175755,143731,338839,165180,173659,3950,1854,2096
2,NaN,중앙동,8073,4101,3972,3932,7839,3957,3882,234,144,90
3,NaN,풍남동,4521,2260,2261,2538,4492,2247,2245,29,13,16
4,NaN,노송동,13189,6391,6798,6397,13105,6362,6743,84,29,55
5,NaN,완산동,5148,2566,2582,2618,5107,2556,2551,41,10,31
6,NaN,동서학동,6784,3354,3430,3226,6747,3345,3402,37,9,28
7,NaN,서서학동,9223,4488,4735,4426,9141,4454,4687,82,34,48
8,NaN,중화산1동,15288,7406,7882,6203,15136,7321,7815,152,85,67
9,NaN,중화산2동,20030,9980,10050,8540,19906,9923,9983,124,57,67
10,NaN,평화1동,13204,6318,6886,6804,12976,6247,6729,228,71,157
11,NaN,평화2동,46295,22356,23939,17767,46205,22334,23871,90,22,68
12,NaN,서신동,40408,19743,20665,15991,40261,19692,20569,147,51,96
13,NaN,삼천1동,12799,6215,6584,5295,12736,6196,6540,63,19,44
14,NaN,삼천2동,14447,6955,7492,6070,14367,6931,7436,80,24,56
15,NaN,삼천3동,23323,11341,11982,8885,23248,11309,11939,75,32,43
16,NaN,효자1동,11784,5652,6132,4936,11720,5636,6084,64,16,48
17,NaN,효자2동,10861,5169,5692,4576,10779,5128,5651,82,41,41
18,NaN,효자3동,15758,7493,8265,5822,15481,7360,8121,277,133,144
19,NaN,효자4동,33756,16436,17320,13022,32082,15553,16529,1674,883,791
20,NaN,효자5동,37898,18810,19088,16683,37511,18629,18882,387,181,206
21,덕진구,소계,320309,159294,161015,130022,315555,157056,158499,4754,2238,2516
22,NaN,진북동,14924,7328,7596,6821,14852,7304,7548,72,24,48
23,NaN,인후1동,19047,9187,9860,7318,18950,9158,9792,97,29,68
24,NaN,인후2동,12094,6059,6035,5777,11797,5917,5880,297,142,155
25,NaN,인후3동,32426,15863,16563,13710,32160,15764,16396,266,99,167
26,NaN,덕진동,21215,10659,10556,9427,20355,10289,10066,860,370,490
27,NaN,금암1동,8824,4698,4126,4679,7532,4020,3512,1292,678,614
28,NaN,금암2동,10714,5322,5392,4989,10341,5118,5223,373,204,169
29,NaN,팔복동,8300,4554,3746,4211,8029,4363,3666,271,191,80
30,NaN,우아1동,10096,5066,5030,4704,9965,4999,4966,131,67,64
31,NaN,우아2동,15125,7756,7369,7360,14956,7703,7253,169,53,116
32,NaN,호성동,21154,10210,10944,7835,21042,10154,10888,112,56,56
33,NaN,송천1동,59376,29393,29983,20428,59125,29296,29829,251,97,154
34,NaN,송천2동,26748,13050,13698,9832,26586,12973,13613,162,77,85
35,NaN,조촌동,12133,6199,5934,5743,11968,6135,5833,165,64,101
36,NaN,동산동,30208,15216,14992,11726,29997,15136,14861,211,80,131
37,NaN,혁신동,17925,8734,9191,5462,17900,8727,9173,25,7,18

In [42]:
import urllib.request 
import json 
import pandas as pd 
from pandas.io.json import json_normalize

In [43]:
url='http://openapi.jeonju.go.kr/jeonjubus/openApi/traffic/bus_location_all.do? ServiceKey=ATmqN73bk4SyfPkNPPvP4JVfvYUh5KcuESoSxRSF98BTO1PpznZrOv5S5ShzM%2B39x2ziI%2BRunDOguUojFxCjwQ%3D%3D'

In [52]:
import openpyxl 
busInfo = pd.read_excel('전라북도 전주시_시내버스 정보_20201031.xlsx', header=2)

In [53]:
busInfo

,노선수,운행회사,노선\n번호,기점,Unnamed: 4,운행시군,종점,운행\n 대수,운행회수,노선\n거리(km),...,완주군.2,Unnamed: 47,임실군.2,Unnamed: 49,진안군.2,Unnamed: 51,김제시.2,Unnamed: 53,익산시.2,Unnamed: 55
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,노선거리,연거리/일,노선거리,연거리/일,노선거리,연거리/일,노선거리,연거리/일,노선거리,연거리/일
1,123.0,NaN,NaN,NaN,NaN,NaN,NaN,408.0,4091.0,5205.7,...,1425.17,14231.83,25.1,307.9,10.3,103,107.732,1340.26,0.6,6
2,4.0,성진,5-1,전북대학교,삼성문화회관 전북일보사 고속터미널 시외버스터미널 금암광장 중앙시장 한옥마을 평화주공...,전주시,전북대학교,3.0,29.0,19.9,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
3,NaN,성진,5-1,전북대학교,삼성문화회관 전북일보사 고속터미널 시외버스터미널 금암광장 중앙시장 한옥마을 평화주공...,전주시,근영여고,NaN,1.0,11.9,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
4,5.0,성진,5-2,전북대학교,삼성문화회관 법원 휴먼빌@ 하가영무예다음@ 이편한세상 서신신일@ 서신동사무소 서신신...,전주시,전북대학교,3.0,29.0,19.9,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,84.0,시민,872,평화동종점,평화주공 전동 중앙시장 모래내 기린네거리 북일초교 전주역 우정신세계@ 성당묘지 웃삼...,전주시+완주군+진안군,장승리,1.0,10.0,36.8,...,10.40,104,NaN,0,10.3,103,NaN,0,NaN,0
223,NaN,시민,NaN,평화동종점,평화주공 전동 중앙시장 모래내 기린네거리 북일초교 전주역 우정신세계@,전주시,우정신세계아파트,NaN,1.0,13.0,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
224,106.0,시민,35,삼례터미널,"대영A 동원A 청완초교 상하구미리, 완주중 봉동터미널 완주경찰서 (왕복 원주아파트내...",완주군,고산터미널,1.0,14.0,21.9,...,21.90,306.60,NaN,0,NaN,0,NaN,0,NaN,0
225,107.0,시민,36,삼례터미널,대영A 동원A 청완초교 상하구미리 완주중학교 봉동터미널 봉동주공 낙평네거리 마그네다...,완주군,고산터미널,1.0,14.0,22.4,...,22.40,313.60,NaN,0,NaN,0,NaN,0,NaN,0
226,115.0,시민,72,전주역,우아@ 명주골네거리 사대부고네거리 중앙하이츠@ 시외터미널 백제교 월드컵로 서곡교 서...,전주시+완주군,이서,8.0,80.0,25.1,...,5.50,330,NaN,0,NaN,0,NaN,0,NaN,0

In [ ]:
def detectoutliers(df, features):
    outlierindices=[]
    for col in features:
        Q1=np.percentile(df[col],25)  #25%지점의 값(q1)
        Q3=np.percentile(df[col],75)  #75%지점의 값(q3)
        IQR=Q3-Q1
        outlierStep=IQR*1.5   
        
        outlierCol=df[(df[col]<Q1-outlierStep) | (df[col]>Q3+outlierStep)].index
        #print(outlierCol)
        outlierindices.extend(outlierCol)
    #print(outlierindices)
    oi=Counter(outlierindices)
    multipltOutliers=[k for k,v in oi.items() if v > 2]
    return multipltOutliers
    

    
    
OutliersToDrop=detectoutliers(dfTrain, ["temp", "atemp", "casual", "registered", "humidity", "windspeed", "count"])

#최소 3개 이상의 컬럼에서 outlier가 발생한 데이터의 index 번호 리스트

노선수             103
운행회사              2
노선\n번호            3
기점               12
Unnamed: 4        2
운행시군              2
종점                3
운행\n 대수         104
운행회수              8
노선\n거리(km)        8
연거리(km)           8
운행\n 대수.1       104
운행회수.1            6
노선\n거리(km).1      6
연거리(km).1         6
운행\n 대수.2        45
감차대수            184
운행회수.2            5
노선\n거리(km).2      6
연거리(km).2         3
전주시               7
Unnamed: 21       7
완주군              89
Unnamed: 23       6
임실군             220
Unnamed: 25       7
진안군             224
Unnamed: 27       7
김제시             208
Unnamed: 29       7
익산시             224
Unnamed: 31       7
전주시.1             0
Unnamed: 33       0
완주군.1            85
Unnamed: 35       0
임실군.1           220
Unnamed: 37       0
진안군.1           224
Unnamed: 39       0
김제시.1           207
Unnamed: 41       0
익산시.1           224
Unnamed: 43       0
전주시.2             0
Unnamed: 45       0
완주군.2            85
Unnamed: 47       0
임실군.2           220
Unnamed: 49       0
진안군.2           224
Unnamed: 51       0
김제시.2           207
Unnamed: 53       0
익산시.2           224
Unnamed: 55       0
dtype: int64