In [1]:
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score

In [3]:
labels=[1,0,0,1,1,1,0,1,1,1]  #정답
preds=[0,1,1,1,1,0,1,0,1,0]   #예측

In [4]:
accuracy_score(labels, preds) #(정답, 예측)

0.3

In [5]:
recall_score(labels, preds)  #TP/(TP+FN) ,  3/(3+4)

0.42857142857142855

In [7]:
precision_score(labels, preds) #TP/(TP+FP)  3/(3+3)

0.5

In [8]:
f1_score(labels, preds)  #recall+pre/recall+pre

0.4615384615384615

In [111]:
#랜덤포레스트 퍼러미터 정리

#n_estimatos: 트리 모델의 개수(기본값100)
#bootstrap: True, 중복허용여부설정
#max_features: 최대 컬럼의 개수(트리 모델 생성시, 사용하게 될, sqrt(컬럼개수), 0.5(10개중 5개)
#max_samples: 트리 모델 생성시 사용하게 될 최대 데이터의 개수(랜덤_
#max_depth: 트리 최대 깊이
#ex)타이타닉 생존 판별기(using RF)
#age name...(10개 컬럼) -<survived?
#sqrt(10)-->3.xx->3(max_features)
#tree1 tree2 tree3

#트레이닝 데이터가 전체 1000개 주어짐
#max_samples: 랜덤하게 max_samples로 설정된 값 만큼의 데이터를 추출하여 모델 작성
#ex) max_samples: 0.5 1000개 중 랜덤하게 500개 선택하여 모델 생성

In [112]:
#실습

In [113]:
import pandas as pd
import numpy as np

In [114]:
train = pd.read_csv('train.csv')
train.shape

(891, 12)

In [115]:
test = pd.read_csv('test.csv')
test.shape

(418, 11)

In [116]:
train['Age_mean'] = train['Age']
train['Age_mean'].fillna(train['Age'].mean(), inplace=True)

In [117]:
test['Age_mean'] = test['Age']
test['Age_mean'].fillna(test['Age'].mean(), inplace=True)

In [118]:
train['Age'].isnull().sum()

177

In [119]:
train['Age_mean'].isnull().sum()

0

In [120]:
train['Age_mean'].mean()

29.69911764705882

In [121]:
train['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [122]:
train['Gender'] = (train['Sex'] == 'female')
test['Gender'] = (test['Sex'] == 'female')

In [123]:
train['Gender'].head()

0    False
1     True
2     True
3     True
4    False
Name: Gender, dtype: bool

In [124]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [125]:
train['Embarked'].isnull().sum()

2

In [126]:
test['Embarked'].value_counts()

S    270
C    102
Q     46
Name: Embarked, dtype: int64

In [127]:
test['Embarked'].isnull().sum()

0

In [128]:
train['Embarked_S'] = train['Embarked'] == 'S'
train['Embarked_C'] = train['Embarked'] == 'C'
train['Embarked_Q'] = train['Embarked'] == 'Q'

In [129]:
train['Embarked_S'].head()

0     True
1    False
2     True
3     True
4     True
Name: Embarked_S, dtype: bool

In [130]:
train[['Embarked', 'Embarked_S', 'Embarked_C', 'Embarked_Q']].head()

  Embarked  Embarked_S  Embarked_C  Embarked_Q
0        S        True       False       False
1        C       False        True       False
2        S        True       False       False
3        S        True       False       False
4        S        True       False       False

In [131]:
test['Embarked_S'] = test['Embarked'] == 'S'
test['Embarked_C'] = test['Embarked'] == 'C'
test['Embarked_Q'] = test['Embarked'] == 'Q'

In [132]:
train['FamilySize'] = train['SibSp'] + train['Parch'] + 1

In [133]:
train['FamilySize'].value_counts()

1     537
2     161
3     102
4      29
6      22
5      15
7      12
11      7
8       6
Name: FamilySize, dtype: int64

In [134]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_mean,Gender,Embarked_S,Embarked_C,Embarked_Q,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,22.0,False,True,False,False,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,38.0,True,False,True,False,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,26.0,True,True,False,False,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,35.0,True,True,False,False,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,35.0,False,True,False,False,1

In [135]:
train['Family'] = train['FamilySize']
train.loc[train['FamilySize'] == 1, 'Family'] = 'S'
train.loc[(train['FamilySize'] > 1) & (train['FamilySize'] < 5), 'Family'] = 'M'
train.loc[train['FamilySize'] > 4, 'Family'] = 'L'

In [136]:
train[['Family', 'FamilySize']].head()

  Family  FamilySize
0      M           2
1      M           2
2      S           1
3      M           2
4      S           1

In [137]:
train['Family_S'] = train['Family'] == 'S'
train['Family_M'] = train['Family'] == 'M'
train['Family_L'] = train['Family'] == 'L'

In [138]:
train[['FamilySize', 'Family', 'Family_S', 'Family_M', 'Family_L']].head()

   FamilySize Family  Family_S  Family_M  Family_L
0           2      M     False      True     False
1           2      M     False      True     False
2           1      S      True     False     False
3           2      M     False      True     False
4           1      S      True     False     False

In [139]:
test['FamilySize'] = test['SibSp'] + test['Parch'] + 1
test['Family'] = test['FamilySize']
test.loc[test['FamilySize'] == 1, 'Family'] = 'S'
test.loc[(test['FamilySize'] > 1) & (test['FamilySize'] < 5), 'Family'] = 'M'
test.loc[test['FamilySize'] > 4, 'Family'] = 'L'

In [140]:
train['Family'].value_counts()

S    537
M    292
L     62
Name: Family, dtype: int64

In [141]:
train['Fare'].describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

In [142]:
train['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [143]:
train['Pclass'] = train['Pclass'].astype('category')
train['Pclass'].dtypes

CategoricalDtype(categories=[1, 2, 3], ordered=False)

In [144]:
feature_names = ['Gender', 'Age_mean', 
                 'Embarked_S', 'Embarked_C', 'Embarked_Q', 
                 'Family_S', 'Family_M', 'Family_L']

In [145]:
X_train = train[feature_names]
X_train.head()

,Gender,Age_mean,Embarked_S,Embarked_C,Embarked_Q,Family_S,Family_M,Family_L
0,False,22.0,True,False,False,False,True,False
1,True,38.0,False,True,False,False,True,False
2,True,26.0,True,False,False,True,False,False
3,True,35.0,True,False,False,False,True,False
4,False,35.0,True,False,False,True,False,False

In [146]:
y_label = train['Survived'] #타깃컬럼

In [148]:
X_test = test[feature_names]
X_test.head()

KeyError: "['Family_M', 'Family_L', 'Family_S'] not in index"

In [149]:
test['Family_S'] = test['Family'] == 'S'
test['Family_M'] = test['Family'] == 'M'
test['Family_L'] = test['Family'] == 'L'

In [150]:
X_test = test[feature_names]
X_test.head()

,Gender,Age_mean,Embarked_S,Embarked_C,Embarked_Q,Family_S,Family_M,Family_L
0,False,34.5,False,False,True,True,False,False
1,True,47.0,True,False,False,False,True,False
2,False,62.0,False,False,True,True,False,False
3,False,27.0,True,False,False,True,False,False
4,True,22.0,True,False,False,False,True,False

In [151]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(max_depth=3, random_state=2021)
model

DecisionTreeClassifier(max_depth=3, random_state=2021)

In [152]:
model.fit(X_train, y_label)

DecisionTreeClassifier(max_depth=3, random_state=2021)

In [153]:
prediction = model.predict(X_test)
prediction.shape

(418,)

In [155]:
test['Survived'] = prediction

In [156]:
test[['PassengerId', 'Survived']]

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [158]:
submissions = test[['PassengerId', 'Survived']]

In [159]:
submissions.to_csv('submit.csv', index=False)

In [196]:
rfModel = RandomForestClassifier(n_estimators=500,max_depth=5,max_features=5)
rfModel.fit(X_train, y_label)
prediction = rfModel.predict(X_test)
prediction.shape
test['Survived'] = prediction
submissions = test[['PassengerId', 'Survived']]
submissions.to_csv('titanic_sub3.csv',index=False) #0.77751