In [1]:
import pandas as pd

In [12]:
kto_201001=pd.read_excel('./files/kto_201001.xlsx',header=1,skipfooter=4,usecols='A:G')

In [14]:
kto_201001.head()
kto_201001.tail()

         국적   관광   상용  공용  유학/연수     기타      계
62  아프리카 기타  349  594  25     86    296   1350
63     기타대륙   10    3   0      0      0     13
64     국적미상   10    3   0      0      0     13
65     교포소계    0    0   0      0  22537  22537
66       교포    0    0   0      0  22537  22537

In [15]:
kto_201001.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적      67 non-null     object
 1   관광      67 non-null     int64
 2   상용      67 non-null     int64
 3   공용      67 non-null     int64
 4   유학/연수   67 non-null     int64
 5   기타      67 non-null     int64
 6   계       67 non-null     int64
dtypes: int64(6), object(1)
memory usage: 3.8+ KB

In [16]:
#각 컬럼 값이 0인 행 추출

In [24]:
kto_201001[(kto_201001['관광']==0) | (kto_201001['상용']==0)|(kto_201001['유학/연수']==0)]

        국적   관광  상용  공용  유학/연수     기타      계
4      마카오  554   0   0      0      0    554
20    이스라엘  792  11   0      0     53    856
45     그리스  345  47   0      0    213    605
53    불가리아  103   0   0      9    414    526
59  대양주 기타  730   0   4      4    168    906
63    기타대륙   10   3   0      0      0     13
64    국적미상   10   3   0      0      0     13
65    교포소계    0   0   0      0  22537  22537
66      교포    0   0   0      0  22537  22537

In [25]:
kto_201001['기준년월']='2010-01'
kto_201001.head()

     국적      관광     상용   공용  유학/연수     기타       계     기준년월
0  아시아주  329131  18238  421   4339  80916  433045  2010-01
1    일본  202825   1750   89    549   3971  209184  2010-01
2    대만   35788     41   17     37    516   36399  2010-01
3    홍콩   13874     55    0     21    595   14545  2010-01
4   마카오     554      0    0      0      0     554  2010-01

In [26]:
kto_201001['국적'].unique()

array(['아시아주', '일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아',
       '싱가포르', '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골',
       '중국', '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미주',
       '미국', '캐나다', '멕시코', '브라질', '미주 기타', '구주', '영국', '독일', '프랑스',
       '네덜란드', '스웨덴', '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인',
       '그리스', '포르투갈', '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아',
       '불가리아', '폴란드', '구주 기타', '대양주', '오스트레일리아', '뉴질랜드', '대양주 기타',
       '아프리카주', '남아프리카공화국', '아프리카 기타', '기타대륙', '국적미상', '교포소계', '교포'],
      dtype=object)

In [27]:
#대륙 리스트
continents_list=['아시아주','미주','구주','대양주','아프리카주','기타대륙','교포소계']

In [34]:
kto_201001_country=kto_201001[kto_201001['국적'].isin(continents_list)==False]

In [35]:
kto_201001_country['국적'].unique()

array(['일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아', '싱가포르',
       '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골', '중국',
       '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미국',
       '캐나다', '멕시코', '브라질', '미주 기타', '영국', '독일', '프랑스', '네덜란드', '스웨덴',
       '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인', '그리스', '포르투갈',
       '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아', '불가리아', '폴란드',
       '구주 기타', '오스트레일리아', '뉴질랜드', '대양주 기타', '남아프리카공화국', '아프리카 기타',
       '국적미상', '교포'], dtype=object)

In [44]:
kto_201001_country_newindex=kto_201001_country.reset_index(drop=True)

In [38]:
['아시아']*25

['아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아']

In [45]:
continents=['아시아']*25+['아메리카']*5+['유럽']*23+['오세아니아']*3+['아프리카']*2+['기타대륙']+['교포']

kto_201001_country_newindex['대륙']=continents
kto_201001_country_newindex

          국적      관광     상용    공용  유학/연수     기타       계     기준년월     대륙
0         일본  202825   1750    89    549   3971  209184  2010-01    아시아
1         대만   35788     41    17     37    516   36399  2010-01    아시아
2         홍콩   13874     55     0     21    595   14545  2010-01    아시아
3        마카오     554      0     0      0      0     554  2010-01    아시아
4         태국   13374     39    13     53   4335   17814  2010-01    아시아
5      말레이시아    3292     61     0     49   1157    4559  2010-01    아시아
6        필리핀    3984    219   104     87  16820   21214  2010-01    아시아
7      인도네시아    1840    327     3     65   2826    5061  2010-01    아시아
8       싱가포르    4201    120     3     27   1017    5368  2010-01    아시아
9        미얀마     630     18    54     10   3882    4594  2010-01    아시아
10       베트남    1384    284    21    150   2676    4515  2010-01    아시아
11        인도    1646   1387     7     68   2918    6026  2010-01    아시아
12      스리랑카      39     28     2     13    566     648  2010-01    아시아
13      파키스탄      70    200     1     41    402     714  2010-01    아시아
14     방글라데시      86     84     9     42    489     710  2010-01    아시아
15      캄보디아     102     22     0     25    131     280  2010-01    아시아
16        몽골    2333    234     6    197    554    3324  2010-01    아시아
17        중국   40425  11930    55   2751  36091   91252  2010-01    아시아
18        이란      69    309     0      3    217     598  2010-01    아시아
19      이스라엘     792     11     0      0     53     856  2010-01    아시아
20        터키     472     15     2     15    465     969  2010-01    아시아
21    우즈베키스탄     190    293    17     40    740    1280  2010-01    아시아
22     카자흐스탄     238     48     4     22    107     419  2010-01    아시아
23       GCC     223    134     0     18     55     430  2010-01    아시아
24    아시아 기타     700    629    14     56    333    1732  2010-01    아시아
25        미국   26943   1195  2145    135  12647   43065  2010-01   아메리카
26       캐나다    4912     96     4     21   3743    8776  2010-01   아메리카
27       멕시코     252     29     1      4     93     379  2010-01   아메리카
28       브라질     459     46     1     11    248     765  2010-01   아메리카
29     미주 기타     501     25     8     29    291     854  2010-01   아메리카
30        영국    5746    383     4     20   1368    7521  2010-01     유럽
31        독일    5838    255    24     68   1458    7643  2010-01     유럽
32       프랑스    3019    343    44    115   1145    4666  2010-01     유럽
33      네덜란드    1205     47     1     20    449    1722  2010-01     유럽
34       스웨덴     579     63     5     17    185     849  2010-01     유럽
35       스위스     512     30     0      7     77     626  2010-01     유럽
36      이탈리아    1157     40    12     12    155    1376  2010-01     유럽
37       덴마크     378     28     0      5     94     505  2010-01     유럽
38      노르웨이     517    274     0      6    149     946  2010-01     유럽
39       벨기에     322     25     1      8    104     460  2010-01     유럽
40     오스트리아     440     13     2      9    141     605  2010-01     유럽
41       스페인     542     29    11      8    108     698  2010-01     유럽
42       그리스     345     47     0      0    213     605  2010-01     유럽
43      포르투갈     256      9     0      1     44     310  2010-01     유럽
44       핀란드     376     16     0     12    131     535  2010-01     유럽
45      아일랜드     311     16     0      1    198     526  2010-01     유럽
46     우크라이나     386     29     0      6   1515    1936  2010-01     유럽
47       러시아    4861    505    15     83   5409   10873  2010-01     유럽
48     크로아티아     166     20     0      1    298     485  2010-01     유럽
49      루마니아     142     12     0      9    370     533  2010-01     유럽
50      불가리아     103      0     0      9    414     526  2010-01     유럽
51       폴란드     378     29     0     10    431     848  2010-01     유럽
52     구주 기타    1219     37     0     49    410    1715  2010-01     유럽
53   오스트레일리아    6974    340     9     10   1098    8431  2010-01  오세아니아
54      뉴질랜드    1545     53     1      1    435    2035  2010-01  오세아니아
55    대양주 기타     730      0     4      4    168     906  2010-01  오세아니아
56  남아프리카공화국     214     27     0      2    545     788  2010-01   아프리카
57   아프리카 기타     349    594    25     86    296    1350  2010-01   아프리카
58      국적미상      10      3     0      0      0      13  2010-01   기타대륙
59        교포       0      0     0      0  22537   22537  2010-01     교포

In [46]:
kto_201001_country_newindex['관광객비율(%)']=round(kto_201001_country_newindex['관광']/kto_201001_country_newindex['계']*100,1)
kto_201001_country_newindex

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%)
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,97.0
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.3
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.4
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.0
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.1
5,말레이시아,3292,61,0,49,1157,4559,2010-01,아시아,72.2
6,필리핀,3984,219,104,87,16820,21214,2010-01,아시아,18.8
7,인도네시아,1840,327,3,65,2826,5061,2010-01,아시아,36.4
8,싱가포르,4201,120,3,27,1017,5368,2010-01,아시아,78.3
9,미얀마,630,18,54,10,3882,4594,2010-01,아시아,13.7
10,베트남,1384,284,21,150,2676,4515,2010-01,아시아,30.7
11,인도,1646,1387,7,68,2918,6026,2010-01,아시아,27.3
12,스리랑카,39,28,2,13,566,648,2010-01,아시아,6.0
13,파키스탄,70,200,1,41,402,714,2010-01,아시아,9.8
14,방글라데시,86,84,9,42,489,710,2010-01,아시아,12.1
15,캄보디아,102,22,0,25,131,280,2010-01,아시아,36.4
16,몽골,2333,234,6,197,554,3324,2010-01,아시아,70.2
17,중국,40425,11930,55,2751,36091,91252,2010-01,아시아,44.3
18,이란,69,309,0,3,217,598,2010-01,아시아,11.5
19,이스라엘,792,11,0,0,53,856,2010-01,아시아,92.5
20,터키,472,15,2,15,465,969,2010-01,아시아,48.7
21,우즈베키스탄,190,293,17,40,740,1280,2010-01,아시아,14.8
22,카자흐스탄,238,48,4,22,107,419,2010-01,아시아,56.8
23,GCC,223,134,0,18,55,430,2010-01,아시아,51.9
24,아시아 기타,700,629,14,56,333,1732,2010-01,아시아,40.4
25,미국,26943,1195,2145,135,12647,43065,2010-01,아메리카,62.6
26,캐나다,4912,96,4,21,3743,8776,2010-01,아메리카,56.0
27,멕시코,252,29,1,4,93,379,2010-01,아메리카,66.5
28,브라질,459,46,1,11,248,765,2010-01,아메리카,60.0
29,미주 기타,501,25,8,29,291,854,2010-01,아메리카,58.7
30,영국,5746,383,4,20,1368,7521,2010-01,유럽,76.4
31,독일,5838,255,24,68,1458,7643,2010-01,유럽,76.4
32,프랑스,3019,343,44,115,1145,4666,2010-01,유럽,64.7
33,네덜란드,1205,47,1,20,449,1722,2010-01,유럽,70.0
34,스웨덴,579,63,5,17,185,849,2010-01,유럽,68.2
35,스위스,512,30,0,7,77,626,2010-01,유럽,81.8
36,이탈리아,1157,40,12,12,155,1376,2010-01,유럽,84.1
37,덴마크,378,28,0,5,94,505,2010-01,유럽,74.9
38,노르웨이,517,274,0,6,149,946,2010-01,유럽,54.7
39,벨기에,322,25,1,8,104,460,2010-01,유럽,70.0
40,오스트리아,440,13,2,9,141,605,2010-01,유럽,72.7
41,스페인,542,29,11,8,108,698,2010-01,유럽,77.7
42,그리스,345,47,0,0,213,605,2010-01,유럽,57.0
43,포르투갈,256,9,0,1,44,310,2010-01,유럽,82.6
44,핀란드,376,16,0,12,131,535,2010-01,유럽,70.3
45,아일랜드,311,16,0,1,198,526,2010-01,유럽,59.1
46,우크라이나,386,29,0,6,1515,1936,2010-01,유럽,19.9
47,러시아,4861,505,15,83,5409,10873,2010-01,유럽,44.7
48,크로아티아,166,20,0,1,298,485,2010-01,유럽,34.2
49,루마니아,142,12,0,9,370,533,2010-01,유럽,26.6
50,불가리아,103,0,0,9,414,526,2010-01,유럽,19.6
51,폴란드,378,29,0,10,431,848,2010-01,유럽,44.6
52,구주 기타,1219,37,0,49,410,1715,2010-01,유럽,71.1
53,오스트레일리아,6974,340,9,10,1098,8431,2010-01,오세아니아,82.7
54,뉴질랜드,1545,53,1,1,435,2035,2010-01,오세아니아,75.9
55,대양주 기타,730,0,4,4,168,906,2010-01,오세아니아,80.6
56,남아프리카공화국,214,27,0,2,545,788,2010-01,아프리카,27.2
57,아프리카 기타,349,594,25,86,296,1350,2010-01,아프리카,25.9
58,국적미상,10,3,0,0,0,13,2010-01,기타대륙,76.9
59,교포,0,0,0,0,22537,22537,2010-01,교포,0.0

In [48]:
kto_201001_country_newindex.sort_values(by='관광객비율(%)',ascending=False)

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%)
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.0
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.3
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,97.0
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.4
19,이스라엘,792,11,0,0,53,856,2010-01,아시아,92.5
36,이탈리아,1157,40,12,12,155,1376,2010-01,유럽,84.1
53,오스트레일리아,6974,340,9,10,1098,8431,2010-01,오세아니아,82.7
43,포르투갈,256,9,0,1,44,310,2010-01,유럽,82.6
35,스위스,512,30,0,7,77,626,2010-01,유럽,81.8
55,대양주 기타,730,0,4,4,168,906,2010-01,오세아니아,80.6
8,싱가포르,4201,120,3,27,1017,5368,2010-01,아시아,78.3
41,스페인,542,29,11,8,108,698,2010-01,유럽,77.7
58,국적미상,10,3,0,0,0,13,2010-01,기타대륙,76.9
31,독일,5838,255,24,68,1458,7643,2010-01,유럽,76.4
30,영국,5746,383,4,20,1368,7521,2010-01,유럽,76.4
54,뉴질랜드,1545,53,1,1,435,2035,2010-01,오세아니아,75.9
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.1
37,덴마크,378,28,0,5,94,505,2010-01,유럽,74.9
40,오스트리아,440,13,2,9,141,605,2010-01,유럽,72.7
5,말레이시아,3292,61,0,49,1157,4559,2010-01,아시아,72.2
52,구주 기타,1219,37,0,49,410,1715,2010-01,유럽,71.1
44,핀란드,376,16,0,12,131,535,2010-01,유럽,70.3
16,몽골,2333,234,6,197,554,3324,2010-01,아시아,70.2
39,벨기에,322,25,1,8,104,460,2010-01,유럽,70.0
33,네덜란드,1205,47,1,20,449,1722,2010-01,유럽,70.0
34,스웨덴,579,63,5,17,185,849,2010-01,유럽,68.2
27,멕시코,252,29,1,4,93,379,2010-01,아메리카,66.5
32,프랑스,3019,343,44,115,1145,4666,2010-01,유럽,64.7
25,미국,26943,1195,2145,135,12647,43065,2010-01,아메리카,62.6
28,브라질,459,46,1,11,248,765,2010-01,아메리카,60.0
45,아일랜드,311,16,0,1,198,526,2010-01,유럽,59.1
29,미주 기타,501,25,8,29,291,854,2010-01,아메리카,58.7
42,그리스,345,47,0,0,213,605,2010-01,유럽,57.0
22,카자흐스탄,238,48,4,22,107,419,2010-01,아시아,56.8
26,캐나다,4912,96,4,21,3743,8776,2010-01,아메리카,56.0
38,노르웨이,517,274,0,6,149,946,2010-01,유럽,54.7
23,GCC,223,134,0,18,55,430,2010-01,아시아,51.9
20,터키,472,15,2,15,465,969,2010-01,아시아,48.7
47,러시아,4861,505,15,83,5409,10873,2010-01,유럽,44.7
51,폴란드,378,29,0,10,431,848,2010-01,유럽,44.6
17,중국,40425,11930,55,2751,36091,91252,2010-01,아시아,44.3
24,아시아 기타,700,629,14,56,333,1732,2010-01,아시아,40.4
7,인도네시아,1840,327,3,65,2826,5061,2010-01,아시아,36.4
15,캄보디아,102,22,0,25,131,280,2010-01,아시아,36.4
48,크로아티아,166,20,0,1,298,485,2010-01,유럽,34.2
10,베트남,1384,284,21,150,2676,4515,2010-01,아시아,30.7
11,인도,1646,1387,7,68,2918,6026,2010-01,아시아,27.3
56,남아프리카공화국,214,27,0,2,545,788,2010-01,아프리카,27.2
49,루마니아,142,12,0,9,370,533,2010-01,유럽,26.6
57,아프리카 기타,349,594,25,86,296,1350,2010-01,아프리카,25.9
46,우크라이나,386,29,0,6,1515,1936,2010-01,유럽,19.9
50,불가리아,103,0,0,9,414,526,2010-01,유럽,19.6
6,필리핀,3984,219,104,87,16820,21214,2010-01,아시아,18.8
21,우즈베키스탄,190,293,17,40,740,1280,2010-01,아시아,14.8
9,미얀마,630,18,54,10,3882,4594,2010-01,아시아,13.7
14,방글라데시,86,84,9,42,489,710,2010-01,아시아,12.1
18,이란,69,309,0,3,217,598,2010-01,아시아,11.5
13,파키스탄,70,200,1,41,402,714,2010-01,아시아,9.8
12,스리랑카,39,28,2,13,566,648,2010-01,아시아,6.0
59,교포,0,0,0,0,22537,22537,2010-01,교포,0.0

In [49]:
#대륙별 관광객비율이 궁금?

            #관광객비율
#대륙
#교포
#기타대륙
#...
#유럽

In [51]:
kto_201001_country_newindex.groupby('대륙').mean()['관광객비율(%)']

대륙
교포        0.000000
기타대륙     76.900000
아메리카     60.760000
아시아      49.544000
아프리카     26.550000
오세아니아    79.733333
유럽       60.926087
Name: 관광객비율(%), dtype: float64

In [57]:
kto_201001_country_newindex.pivot_table(values='관광객비율(%)', index='대륙')

        관광객비율(%)
대륙
교포      0.000000
기타대륙   76.900000
아메리카   60.760000
아시아    49.544000
아프리카   26.550000
오세아니아  79.733333
유럽     60.926087

In [58]:
kto_201001_country_newindex.groupby('대륙').apply(lambda x: ((x.관광.sum()/x.계.sum())*100).round(4))

대륙
교포        0.0000
기타대륙     76.9231
아메리카     61.4183
아시아      76.0039
아프리카     26.3330
오세아니아    81.3313
유럽       61.9192
dtype: float64

In [60]:
kto_201001_country_newindex[kto_201001_country_newindex['국적']=='중국']

    국적     관광     상용  공용  유학/연수     기타      계     기준년월   대륙  관광객비율(%)
17  중국  40425  11930  55   2751  36091  91252  2010-01  아시아      44.3

In [63]:
tourist_sum=sum(kto_201001_country_newindex['관광'])
tourist_sum

400818

In [64]:
kto_201001_country_newindex

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%)
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,97.0
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.3
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.4
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.0
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.1
5,말레이시아,3292,61,0,49,1157,4559,2010-01,아시아,72.2
6,필리핀,3984,219,104,87,16820,21214,2010-01,아시아,18.8
7,인도네시아,1840,327,3,65,2826,5061,2010-01,아시아,36.4
8,싱가포르,4201,120,3,27,1017,5368,2010-01,아시아,78.3
9,미얀마,630,18,54,10,3882,4594,2010-01,아시아,13.7
10,베트남,1384,284,21,150,2676,4515,2010-01,아시아,30.7
11,인도,1646,1387,7,68,2918,6026,2010-01,아시아,27.3
12,스리랑카,39,28,2,13,566,648,2010-01,아시아,6.0
13,파키스탄,70,200,1,41,402,714,2010-01,아시아,9.8
14,방글라데시,86,84,9,42,489,710,2010-01,아시아,12.1
15,캄보디아,102,22,0,25,131,280,2010-01,아시아,36.4
16,몽골,2333,234,6,197,554,3324,2010-01,아시아,70.2
17,중국,40425,11930,55,2751,36091,91252,2010-01,아시아,44.3
18,이란,69,309,0,3,217,598,2010-01,아시아,11.5
19,이스라엘,792,11,0,0,53,856,2010-01,아시아,92.5
20,터키,472,15,2,15,465,969,2010-01,아시아,48.7
21,우즈베키스탄,190,293,17,40,740,1280,2010-01,아시아,14.8
22,카자흐스탄,238,48,4,22,107,419,2010-01,아시아,56.8
23,GCC,223,134,0,18,55,430,2010-01,아시아,51.9
24,아시아 기타,700,629,14,56,333,1732,2010-01,아시아,40.4
25,미국,26943,1195,2145,135,12647,43065,2010-01,아메리카,62.6
26,캐나다,4912,96,4,21,3743,8776,2010-01,아메리카,56.0
27,멕시코,252,29,1,4,93,379,2010-01,아메리카,66.5
28,브라질,459,46,1,11,248,765,2010-01,아메리카,60.0
29,미주 기타,501,25,8,29,291,854,2010-01,아메리카,58.7
30,영국,5746,383,4,20,1368,7521,2010-01,유럽,76.4
31,독일,5838,255,24,68,1458,7643,2010-01,유럽,76.4
32,프랑스,3019,343,44,115,1145,4666,2010-01,유럽,64.7
33,네덜란드,1205,47,1,20,449,1722,2010-01,유럽,70.0
34,스웨덴,579,63,5,17,185,849,2010-01,유럽,68.2
35,스위스,512,30,0,7,77,626,2010-01,유럽,81.8
36,이탈리아,1157,40,12,12,155,1376,2010-01,유럽,84.1
37,덴마크,378,28,0,5,94,505,2010-01,유럽,74.9
38,노르웨이,517,274,0,6,149,946,2010-01,유럽,54.7
39,벨기에,322,25,1,8,104,460,2010-01,유럽,70.0
40,오스트리아,440,13,2,9,141,605,2010-01,유럽,72.7
41,스페인,542,29,11,8,108,698,2010-01,유럽,77.7
42,그리스,345,47,0,0,213,605,2010-01,유럽,57.0
43,포르투갈,256,9,0,1,44,310,2010-01,유럽,82.6
44,핀란드,376,16,0,12,131,535,2010-01,유럽,70.3
45,아일랜드,311,16,0,1,198,526,2010-01,유럽,59.1
46,우크라이나,386,29,0,6,1515,1936,2010-01,유럽,19.9
47,러시아,4861,505,15,83,5409,10873,2010-01,유럽,44.7
48,크로아티아,166,20,0,1,298,485,2010-01,유럽,34.2
49,루마니아,142,12,0,9,370,533,2010-01,유럽,26.6
50,불가리아,103,0,0,9,414,526,2010-01,유럽,19.6
51,폴란드,378,29,0,10,431,848,2010-01,유럽,44.6
52,구주 기타,1219,37,0,49,410,1715,2010-01,유럽,71.1
53,오스트레일리아,6974,340,9,10,1098,8431,2010-01,오세아니아,82.7
54,뉴질랜드,1545,53,1,1,435,2035,2010-01,오세아니아,75.9
55,대양주 기타,730,0,4,4,168,906,2010-01,오세아니아,80.6
56,남아프리카공화국,214,27,0,2,545,788,2010-01,아프리카,27.2
57,아프리카 기타,349,594,25,86,296,1350,2010-01,아프리카,25.9
58,국적미상,10,3,0,0,0,13,2010-01,기타대륙,76.9
59,교포,0,0,0,0,22537,22537,2010-01,교포,0.0

In [65]:
#전체 외국인 관광객 수 중에서 각 국가별 관광객 수의 비율?

In [68]:
kto_201001_country_newindex['전체비율(%)']=round(kto_201001_country_newindex['관광']/tourist_sum*100,1)

In [69]:
kto_201001_country_newindex

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,97.0,50.6
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.3,8.9
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.4,3.5
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.0,0.1
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.1,3.3
5,말레이시아,3292,61,0,49,1157,4559,2010-01,아시아,72.2,0.8
6,필리핀,3984,219,104,87,16820,21214,2010-01,아시아,18.8,1.0
7,인도네시아,1840,327,3,65,2826,5061,2010-01,아시아,36.4,0.5
8,싱가포르,4201,120,3,27,1017,5368,2010-01,아시아,78.3,1.0
9,미얀마,630,18,54,10,3882,4594,2010-01,아시아,13.7,0.2
10,베트남,1384,284,21,150,2676,4515,2010-01,아시아,30.7,0.3
11,인도,1646,1387,7,68,2918,6026,2010-01,아시아,27.3,0.4
12,스리랑카,39,28,2,13,566,648,2010-01,아시아,6.0,0.0
13,파키스탄,70,200,1,41,402,714,2010-01,아시아,9.8,0.0
14,방글라데시,86,84,9,42,489,710,2010-01,아시아,12.1,0.0
15,캄보디아,102,22,0,25,131,280,2010-01,아시아,36.4,0.0
16,몽골,2333,234,6,197,554,3324,2010-01,아시아,70.2,0.6
17,중국,40425,11930,55,2751,36091,91252,2010-01,아시아,44.3,10.1
18,이란,69,309,0,3,217,598,2010-01,아시아,11.5,0.0
19,이스라엘,792,11,0,0,53,856,2010-01,아시아,92.5,0.2
20,터키,472,15,2,15,465,969,2010-01,아시아,48.7,0.1
21,우즈베키스탄,190,293,17,40,740,1280,2010-01,아시아,14.8,0.0
22,카자흐스탄,238,48,4,22,107,419,2010-01,아시아,56.8,0.1
23,GCC,223,134,0,18,55,430,2010-01,아시아,51.9,0.1
24,아시아 기타,700,629,14,56,333,1732,2010-01,아시아,40.4,0.2
25,미국,26943,1195,2145,135,12647,43065,2010-01,아메리카,62.6,6.7
26,캐나다,4912,96,4,21,3743,8776,2010-01,아메리카,56.0,1.2
27,멕시코,252,29,1,4,93,379,2010-01,아메리카,66.5,0.1
28,브라질,459,46,1,11,248,765,2010-01,아메리카,60.0,0.1
29,미주 기타,501,25,8,29,291,854,2010-01,아메리카,58.7,0.1
30,영국,5746,383,4,20,1368,7521,2010-01,유럽,76.4,1.4
31,독일,5838,255,24,68,1458,7643,2010-01,유럽,76.4,1.5
32,프랑스,3019,343,44,115,1145,4666,2010-01,유럽,64.7,0.8
33,네덜란드,1205,47,1,20,449,1722,2010-01,유럽,70.0,0.3
34,스웨덴,579,63,5,17,185,849,2010-01,유럽,68.2,0.1
35,스위스,512,30,0,7,77,626,2010-01,유럽,81.8,0.1
36,이탈리아,1157,40,12,12,155,1376,2010-01,유럽,84.1,0.3
37,덴마크,378,28,0,5,94,505,2010-01,유럽,74.9,0.1
38,노르웨이,517,274,0,6,149,946,2010-01,유럽,54.7,0.1
39,벨기에,322,25,1,8,104,460,2010-01,유럽,70.0,0.1
40,오스트리아,440,13,2,9,141,605,2010-01,유럽,72.7,0.1
41,스페인,542,29,11,8,108,698,2010-01,유럽,77.7,0.1
42,그리스,345,47,0,0,213,605,2010-01,유럽,57.0,0.1
43,포르투갈,256,9,0,1,44,310,2010-01,유럽,82.6,0.1
44,핀란드,376,16,0,12,131,535,2010-01,유럽,70.3,0.1
45,아일랜드,311,16,0,1,198,526,2010-01,유럽,59.1,0.1
46,우크라이나,386,29,0,6,1515,1936,2010-01,유럽,19.9,0.1
47,러시아,4861,505,15,83,5409,10873,2010-01,유럽,44.7,1.2
48,크로아티아,166,20,0,1,298,485,2010-01,유럽,34.2,0.0
49,루마니아,142,12,0,9,370,533,2010-01,유럽,26.6,0.0
50,불가리아,103,0,0,9,414,526,2010-01,유럽,19.6,0.0
51,폴란드,378,29,0,10,431,848,2010-01,유럽,44.6,0.1
52,구주 기타,1219,37,0,49,410,1715,2010-01,유럽,71.1,0.3
53,오스트레일리아,6974,340,9,10,1098,8431,2010-01,오세아니아,82.7,1.7
54,뉴질랜드,1545,53,1,1,435,2035,2010-01,오세아니아,75.9,0.4
55,대양주 기타,730,0,4,4,168,906,2010-01,오세아니아,80.6,0.2
56,남아프리카공화국,214,27,0,2,545,788,2010-01,아프리카,27.2,0.1
57,아프리카 기타,349,594,25,86,296,1350,2010-01,아프리카,25.9,0.1
58,국적미상,10,3,0,0,0,13,2010-01,기타대륙,76.9,0.0
59,교포,0,0,0,0,22537,22537,2010-01,교포,0.0,0.0

In [70]:
kto_201001_country_newindex.sort_values('전체비율(%)',ascending=False)

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,97.0,50.6
17,중국,40425,11930,55,2751,36091,91252,2010-01,아시아,44.3,10.1
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.3,8.9
25,미국,26943,1195,2145,135,12647,43065,2010-01,아메리카,62.6,6.7
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.4,3.5
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.1,3.3
53,오스트레일리아,6974,340,9,10,1098,8431,2010-01,오세아니아,82.7,1.7
31,독일,5838,255,24,68,1458,7643,2010-01,유럽,76.4,1.5
30,영국,5746,383,4,20,1368,7521,2010-01,유럽,76.4,1.4
47,러시아,4861,505,15,83,5409,10873,2010-01,유럽,44.7,1.2
26,캐나다,4912,96,4,21,3743,8776,2010-01,아메리카,56.0,1.2
8,싱가포르,4201,120,3,27,1017,5368,2010-01,아시아,78.3,1.0
6,필리핀,3984,219,104,87,16820,21214,2010-01,아시아,18.8,1.0
32,프랑스,3019,343,44,115,1145,4666,2010-01,유럽,64.7,0.8
5,말레이시아,3292,61,0,49,1157,4559,2010-01,아시아,72.2,0.8
16,몽골,2333,234,6,197,554,3324,2010-01,아시아,70.2,0.6
7,인도네시아,1840,327,3,65,2826,5061,2010-01,아시아,36.4,0.5
11,인도,1646,1387,7,68,2918,6026,2010-01,아시아,27.3,0.4
54,뉴질랜드,1545,53,1,1,435,2035,2010-01,오세아니아,75.9,0.4
36,이탈리아,1157,40,12,12,155,1376,2010-01,유럽,84.1,0.3
10,베트남,1384,284,21,150,2676,4515,2010-01,아시아,30.7,0.3
33,네덜란드,1205,47,1,20,449,1722,2010-01,유럽,70.0,0.3
52,구주 기타,1219,37,0,49,410,1715,2010-01,유럽,71.1,0.3
9,미얀마,630,18,54,10,3882,4594,2010-01,아시아,13.7,0.2
24,아시아 기타,700,629,14,56,333,1732,2010-01,아시아,40.4,0.2
19,이스라엘,792,11,0,0,53,856,2010-01,아시아,92.5,0.2
55,대양주 기타,730,0,4,4,168,906,2010-01,오세아니아,80.6,0.2
39,벨기에,322,25,1,8,104,460,2010-01,유럽,70.0,0.1
46,우크라이나,386,29,0,6,1515,1936,2010-01,유럽,19.9,0.1
45,아일랜드,311,16,0,1,198,526,2010-01,유럽,59.1,0.1
44,핀란드,376,16,0,12,131,535,2010-01,유럽,70.3,0.1
43,포르투갈,256,9,0,1,44,310,2010-01,유럽,82.6,0.1
51,폴란드,378,29,0,10,431,848,2010-01,유럽,44.6,0.1
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.0,0.1
56,남아프리카공화국,214,27,0,2,545,788,2010-01,아프리카,27.2,0.1
42,그리스,345,47,0,0,213,605,2010-01,유럽,57.0,0.1
57,아프리카 기타,349,594,25,86,296,1350,2010-01,아프리카,25.9,0.1
41,스페인,542,29,11,8,108,698,2010-01,유럽,77.7,0.1
40,오스트리아,440,13,2,9,141,605,2010-01,유럽,72.7,0.1
34,스웨덴,579,63,5,17,185,849,2010-01,유럽,68.2,0.1
38,노르웨이,517,274,0,6,149,946,2010-01,유럽,54.7,0.1
35,스위스,512,30,0,7,77,626,2010-01,유럽,81.8,0.1
29,미주 기타,501,25,8,29,291,854,2010-01,아메리카,58.7,0.1
28,브라질,459,46,1,11,248,765,2010-01,아메리카,60.0,0.1
27,멕시코,252,29,1,4,93,379,2010-01,아메리카,66.5,0.1
23,GCC,223,134,0,18,55,430,2010-01,아시아,51.9,0.1
22,카자흐스탄,238,48,4,22,107,419,2010-01,아시아,56.8,0.1
37,덴마크,378,28,0,5,94,505,2010-01,유럽,74.9,0.1
20,터키,472,15,2,15,465,969,2010-01,아시아,48.7,0.1
15,캄보디아,102,22,0,25,131,280,2010-01,아시아,36.4,0.0
58,국적미상,10,3,0,0,0,13,2010-01,기타대륙,76.9,0.0
12,스리랑카,39,28,2,13,566,648,2010-01,아시아,6.0,0.0
13,파키스탄,70,200,1,41,402,714,2010-01,아시아,9.8,0.0
14,방글라데시,86,84,9,42,489,710,2010-01,아시아,12.1,0.0
50,불가리아,103,0,0,9,414,526,2010-01,유럽,19.6,0.0
18,이란,69,309,0,3,217,598,2010-01,아시아,11.5,0.0
21,우즈베키스탄,190,293,17,40,740,1280,2010-01,아시아,14.8,0.0
49,루마니아,142,12,0,9,370,533,2010-01,유럽,26.6,0.0
48,크로아티아,166,20,0,1,298,485,2010-01,유럽,34.2,0.0
59,교포,0,0,0,0,22537,22537,2010-01,교포,0.0,0.0

In [71]:
#데이터 전처리 과정 함수 정의

In [86]:
def create_kto_data(yy, mm):
    mms=str(mm).zfill(2)
    file_path='./files/kto_{}{}.xlsx'.format(yy,mms)
    #print(file_path)
    pd.read_excel(file_path,header=1,skipfooter=4, usecols='A:G')
    print(df)
        
    
    #excel데이터 불러오기
    #년월 컬럼 추가
    df['기준년월']='{}-{}'.format(yy,mms)
    #대륙제거하고 국가만 남기기
    
    ignore_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']    # 제거할 대륙명 선정하기
    cond=df['국적'].isin(ignore_list)==False
    df_country=df[cond].reset_index(drop=True)
    #대륙컬럼
    continents = ['아시아']*25 + ['아메리카']*5 + ['유럽']*23 + ['대양주']*3 + ['아프리카']*2 + ['기타대륙'] + ['교포']    # 대륙 컬럼 생성을 위한 목록 만들어 놓기 
    df_country['대륙'] = continents
    
    
    #관광객 비율
    df_country['관광객비율(%)'] = round(df_country.관광 / df_country.계 * 100, 1)
    #전체 비율
    tourist_sum = sum(df_country['관광'])
    df_country['전체비율(%)'] = round(df_country['관광'] / tourist_sum * 100, 1)
    return(df_country)

In [84]:
create_kto_data(2020,1)

NameError: name 'df' is not defined

In [76]:
m=1
print(str(m),zfill(2))

NameError: name 'zfill' is not defined

In [77]:
for yy in range(2010, 2021):
    for mm in range(1,13):
        mms=str(mm).zfill(2)
        yymm='{}{}'.format(yy,mm)
        print(yymm)

20101
20102
20103
20104
20105
20106
20107
20108
20109
201010
201011
201012
20111
20112
20113
20114
20115
20116
20117
20118
20119
201110
201111
201112
20121
20122
20123
20124
20125
20126
20127
20128
20129
201210
201211
201212
20131
20132
20133
20134
20135
20136
20137
20138
20139
201310
201311
201312
20141
20142
20143
20144
20145
20146
20147
20148
20149
201410
201411
201412
20151
20152
20153
20154
20155
20156
20157
20158
20159
201510
201511
201512
20161
20162
20163
20164
20165
20166
20167
20168
20169
201610
201611
201612
20171
20172
20173
20174
20175
20176
20177
20178
20179
201710
201711
201712
20181
20182
20183
20184
20185
20186
20187
20188
20189
201810
201811
201812
20191
20192
20193
20194
20195
20196
20197
20198
20199
201910
201911
201912
20201
20202
20203
20204
20205
20206
20207
20208
20209
202010
202011
202012

In [87]:
df = pd.DataFrame()